.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
  }

  .slider span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .slider span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }

  .slider span:nth-of-type(1),
    .slider span:nth-of-type(2) {
    display: inline-block; /* Ensures proper spacing */
    margin-bottom: 50px; /* Space below the text */
    }

    .slider span:nth-of-type(1) {
    margin-right: 20px; /* Add space between the two spans */
    }

  
  .slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .active {
    display: block;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%; /* Center it vertically */
    transform: translateY(80%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Adjust as needed */
    width: 40px;  /* Adjust as needed */
    border-radius: 50%; /* To make them circular */
  }
  
  .left-arrow {
    left: 20px; /* Adjust as needed */
  }
  
  .right-arrow {
    right: 20px; /* Adjust as needed */
  }
  
  